@import "../../../shared/sass//abstracts/mixins";

:root {
  --width-limit-text: 240px;
}

/* INVOICE USER */
.invoice-order__user {
  padding: 12px 18px;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  overflow: hidden;

  h3 {
    font-size: 2.2rem;
    font-weight: 700;
  }

  &__group {
    display: flex;
    align-items: center;
  }

  &__group:not(:last-child) {
    margin-bottom: 12px;
  }

  &-image {
    @include circle(3.5rem, 3.5rem);
    object-fit: cover;
    font-size: 1.3rem;
  }

  &-icon {
    @include circle(3.5rem, 3.5rem, var(--color-border-1), transparent);
    padding: 5px;
  }

  &__suffix {
    margin: 0 0 0 8px;
    font-size: 1.3rem;
    font-weight: 700;
  }
}

.invoice-order__text {
  font-size: 1.3rem;
  margin: 0 0 0 8px;

  &--limit-width {
    @include limitWidthFont(var(--width-limit-text));
  }

  &--limit-line {
    @include limitedLines(4, var(--width-limit-text));
  }
}
