.modal-alert {
  z-index: 100;
  position: fixed;
  top: 22vh;
  left: 50%;
  transform: translateX(-50%);
  width: 60rem;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 5px;

  &__header {
    width: 100%;
    padding: 2rem 2rem 0 2rem;
  }

  &__content {
    padding: 1rem 2rem 2rem 2rem;
  }

  &__footer {
    padding: 0 2rem 2rem 2rem;
  }
}

/* CSS for modal */
.modal-alert-enter {
  transform: translate(-50%, -10rem);
  opacity: 0;
}

.modal-alert-enter-active {
  transform: translate(-50%, 0);
  opacity: 1;
  transition: all 400ms;
}

.modal-alert-exit {
  transform: translate(-50%, 0rem);
  opacity: 1;
}

.modal-alert-exit-active {
  transform: translate(-50%, -10rem);
  opacity: 0;
  transition: all 400ms;
}
