:root {
  --width-error-notify: 500px;
}

.ErrorPage {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 20%;
  left: 50%;

  border: 1px solid var(--color-border);
  border-radius: 5px;
  background-color: #fff;
  width: var(--width-error-notify);
  box-shadow: var(--shadow-dark-slightly-1);
}

.ErrorPageContainer {
  margin: 24px auto 32px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.ErrorPageIcon {
  font-size: 12rem !important;
  color: var(--color-primary);
}

.ErrorPageText {
  font-size: 1.5rem;
  margin: 1.2rem 0 1.4rem 0;
  text-align: center;
}
