.ButtonQuantity {
  display: flex;
  align-items: center;

  border: 1px solid var(--color-border);
  border-radius: 5px;
}

.ButtonQuantityNumber {
  text-align: center;
  padding: 0.4rem 1.2rem;
  font-size: 1.4rem;
}

.ButtonQuantityIcon {
  height: 3.2rem;
  width: 3.2rem;
  font-size: 1.3rem;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active, 
  &:focus {
    background-color: var(--color-border);
  }

  &__Left {
    border-right: 1px solid var(--color-border);
  }

  &__Right {
    border-left: 1px solid var(--color-border);
  }
}

.ButtonQuantity__Disabled {
  cursor: default;
  color: rgba(0, 0, 0, 0.26);
}
