.HeadingText {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1.4rem;
}

.UserDetail {
  font-size: 1.4rem;
  background-color: #fff;
  padding: 1.4rem;

  &__Title {
    font-size: 1.4rem !important;
    margin: 0;
    font-weight: 600;
    min-width: 14rem;
  }

  &__Group {
    display: flex;
    align-items: center;

    &:not(:first-child) {
      border-top: 1px solid var(--color-border);
      margin-top: 1.4rem;
      padding-top: 1.4rem;
    }
  }
}
