/* INVOICE ORDER HEADER */
.InvoiceOrderHeader {
  border: 1px solid var(--color-border);
  border-radius: 5px;
}
/* INVOICE ORDER HEADER */

.InvoiceOrderBody {
  padding: 12px 18px;
  border: 1px solid var(--color-border);
  border-radius: 5px;

  margin-top: 24px;
}
