.MyAdsProductList {
  border: 1px solid var(--color-border);
  border-radius: 5px;
  background-color: #fff;
}

/* HEADER */
.MyAdsHeader {
  border-bottom: 1px solid var(--color-border);
}

.MyAdsHeaderList {
  padding: 0 2.4rem;
  display: flex;
  align-items: center;
  list-style: none;
}

.MyAdsHeaderItem {
  padding: 1.6rem;
  font-size: 1.4rem;
  transition: color 0.15s ease-in-out;
  cursor: pointer;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: 93%;
    left: 0;
    right: 0;
    background-color: var(--color-primary);
    height: 0.4rem;
    width: 0;
    transition: width 0.2s ease-in;
  }

  &__active {
    font-weight: 700;
    color: var(--color-primary);

    &::after {
      width: 100%;
    }
  }

  &:hover {
    color: var(--color-primary);
  }

  &__badge {
    color: var(--color-grey-dark-2);
    margin-left: 1.2rem;
  }
}

/* HEADER */
