.product-info {
  margin-left: 3rem;

  /* HEADER */
  &__header {
    border-bottom: 1px solid var(--color-border);
    padding-bottom: 2.2rem;
    margin-bottom: 2.2rem;
  }

  &__name,
  &__price {
    font-size: 2.8rem;
    font-weight: 700;
    margin: 0;
  }

  &__price {
    color: var(--color-primary);
  }

  &__location {
    font-size: 1.4rem;
    color: var(--font-color-2);
    margin: 0.8rem 0 0.4rem 0;

    &-icon {
      color: var(--color-primary);
      margin-right: 0.8rem;
      transform: translateY(-2px);
    }
  }
  /* HEADER */

  /* BODY */
  &__sub-info {
    display: flex;
    align-items: center;
  }

  &__sub-info {
    span {
      display: block;
      flex: 0 0 20%;
    }
  }
  /* BODY */
}

/* PRODUCT AUTHOR */
.product-info__author {
  display: flex;
  margin-top: 1.4rem;

  &-img {
    box-shadow: none;
    height: 6rem !important;
    width: 6rem !important;
  }

  &-rating {
    font-size: 1.3rem;
    margin: 1.2rem 0 1rem 0;
    color: var(--color-light-4);
    display: flex;
    align-items: center;
  }

  &-icon {
    margin-left: 0.6rem;
  }

  &-detail {
    margin-left: 1rem;

    h4 {
      color: #000;
      font-size: 1.6rem;
      font-weight: 500;
    }

    a {
      font-size: 1.4rem;
      font-weight: 600;
      color: var(--color-primary);
      transition: color 0.2s ease-in;

      &:hover {
        color: var(--color-primary-2);
        text-decoration: none;
      }
    }
  }
}
/* PRODUCT AUTHOR */
